%h2 input information

= simple_form_for(@user, html: { class: 'form-horizontal' }) do |form|
  = form.input :name
  = form.button :submit

= link_to "get your information", next_wizard_path
= wizard_path