<h3>Welcome</h3>

Ryan -- some text here . . .

<p><%= link_to "sign in", signin_path %></p>

<p><%= link_to "about", :about %></p>

<h2>For admins only:</h2>

<%= link_to "users", users_path %>

<h3>and what it is <%= link_to "all_about", :voting_wizzard_index %></h3>



<pre>
  _____           _
  |  __ \         | |
  | |__) |   _ ___| |__  _ __ ___   ___  _ __ ___
  |  _  / | | / __| '_ \| '_ ` _ \ / _ \| '__/ _ \
  | | \ \ |_| \__ \ | | | | | | | | (_) | | |  __/
  |_|  \_\__,_|___/_| |_|_| |_| |_|\___/|_|  \___|

</pre>

<p><%= link_to 'Users:', users_path %> <%= User.count %> registered</p>
